@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

p {
  font-weight: 300;
}

input {
  font-size: 1em;
}

textarea {
  font-family: 'Sora', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button {
  box-sizing: border-box;
  cursor: pointer;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
